run = "npm run start"
modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Start Expo App"

[[workflows.workflow]]
name = "Start Expo App"
author = 46108334
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=$PATH:$HOME/.config/npm/node_global/bin npm run start"
